*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 768px;
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Teko", sans-serif;
  color: lavenderblush;
  background-image: url(../background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

button {
  font: inherit;
  color: inherit;
  border-width: 0;
  position: relative;
  display: inline-block;
  padding: 6px;
  margin: 12px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  background-color: rgba(87, 1, 1, 0.35);
  transition: all 0.3s ease;
}

button:hover {
  background-color: rgba(87, 1, 1, 0.5);
  transform: scale(0.9);
}

button:active {
  background-color: rgba(87, 1, 1, 0.5);
  transform: scale(0.9);
}

.btn-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.btn-start {
  width: 170px;
  height: 62px;
  font-size: 40px;
  background-color: rgba(24, 81, 134, 0.8);
}

.btn-question,
.btn-dare,
.btn-time-dare {
  width: 170px;
  height: 62px;
  font-size: 30px;
}

.btn-question {
  background-color: rgba(24, 81, 134, 0.8);
}

.btn-dare {
  background-color: rgba(168, 8, 8, 0.8);
}

.btn-time-dare {
  background-color: rgba(134, 90, 24, 0.8);
}

.btn-chance {
  margin: 10px 0px;
  width: 300px;
  height: 62px;
  font-size: 30px;
  border-radius: 0;
  background-color: rgba(13, 100, 49, 0.55);
}

.btn-next {
  margin: 4px;
  width: 170px;
  height: 62px;
  font-size: 30px;
  background-color: rgba(13, 100, 49, 0.55);
}

.btn-fail {
  margin: 6px;
  width: 120px;
  height: 50px;
  font-size: 24px;
  background-color: rgba(134, 90, 24, 0.8);
}

.btn-success {
  margin: 6px;
  width: 120px;
  height: 50px;
  font-size: 24px;
  background-color: rgba(13, 100, 49, 0.55);
}
.btn-success .emoji {
  font-size: 18px;
}

.btn-skip,
.btn-reroll {
  position: relative;
  width: 50px;
  height: 35px;
}
.btn-skip .fa-forward,
.btn-reroll .fa-forward {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-skip {
  background-color: rgba(168, 8, 8, 0.8);
}

.btn-reroll {
  font-size: 20px;
  background-color: rgba(24, 81, 134, 0.8);
}

a {
  color: inherit;
  text-decoration: none;
}

.headline {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 0px;
  text-align: center;
  align-items: center;
  font-size: 60px;
  letter-spacing: 5px;
  line-height: 55px;
}

.text {
  margin: 4px 10px;
  text-align: center;
  font-size: 32px;
}

.content {
  display: flex;
  flex-direction: row;
  margin: 0 20px;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.content .fa-star {
  padding: 3px;
  font-size: 16px;
  vertical-align: middle;
}

.skip-container {
  display: flex;
  flex-direction: row;
  margin: 3px;
  justify-content: flex-end;
  align-content: center;
}
.skip-container .skip-row {
  height: 50%;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 3px;
  justify-content: center;
}
.skip-container .text {
  margin: 11px 5px 10px 5px;
  align-self: center;
  font-size: 24px;
}
.skip-container .fa-star {
  margin-left: 5px;
  vertical-align: 1px;
  font-size: 16px;
}
.skip-container .btn {
  margin: 0 5px;
}

.back-icon {
  position: absolute;
  padding: 8px;
  left: 10px;
  top: 25px;
  font-size: 40px;
  color: lavenderblush;
}

.score {
  display: flex;
  position: absolute;
  right: 15px;
  top: 15px;
  color: goldenrod;
}
.score .text {
  font-size: 40px;
}
.score .fa-star {
  padding: 3px 0px 8px 0px;
  font-size: 20px;
  align-self: center;
}

.player-name {
  font-size: 60px;
  margin-top: 24px;
}

.rules {
  overflow-y: scroll;
}
.rules .line {
  width: 80%;
  height: 2px;
  margin: auto;
  background-color: rgba(168, 8, 8, 0.8);
}
.rules .rules-item {
  margin: 10px;
  font-size: 26px;
}
.rules .rules-item .emoji {
  font-size: 18px;
}
.rules .rules-item .fa-forward {
  padding: 5px 10px;
  background-color: rgba(168, 8, 8, 0.8);
}
.rules .rules-item .fa-star {
  color: goldenrod;
}
.rules .rules-item .fa-rotate-right {
  padding: 5px 10px;
  background-color: rgba(24, 81, 134, 0.8);
}
.rules .question {
  color: rgba(24, 81, 134, 0.8);
}
.rules .dare {
  color: rgba(168, 8, 8, 0.8);
}
.rules .time {
  color: rgba(134, 90, 24, 0.8);
}
.rules .chance {
  color: rgba(13, 100, 49, 0.55);
}

.rules-icon {
  position: absolute;
  right: 15px;
  top: 20px;
  font-size: 32px;
  color: lavenderblush;
}

.rules-background {
  background-color: rgba(0, 0, 0, 0.4);
}

.timer {
  text-align: center;
}
.timer #display {
  font-size: 10vh;
  font-weight: bold;
  color: #fff;
}
.timer button {
  font-size: 3vh;
  padding: 1vh 4vh;
  border: none;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 2vh;
}
.timer #alt-btns {
  padding: 8px 20px;
  background-color: rgba(24, 81, 134, 0.8);
}
.timer #reset {
  padding: 8px 20px;
  background-color: rgba(168, 8, 8, 0.8);
}

.players-list {
  width: 100vw;
  height: 330px;
}
.players-list .players-row {
  display: flex;
  justify-content: center;
  align-content: center;
}
.players-list .player-input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.players-list .player-input label {
  margin: 2px 7px;
  width: 50px;
  font-size: 24px;
}
.players-list .player-input input {
  padding-left: 5px;
  margin: 5px 7px;
  font: inherit;
  font-size: 22px;
  color: lavenderblush;
  height: 30px;
  width: 130px;
  background-color: rgba(168, 8, 8, 0.8);
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
}
.players-list .player-input input::-moz-placeholder {
  margin-left: 50px;
  font-size: 20px;
  color: lavenderblush;
  opacity: 70%;
}
.players-list .player-input input::placeholder {
  margin-left: 50px;
  font-size: 20px;
  color: lavenderblush;
  opacity: 70%;
}
.players-list .hidden {
  display: none;
}

.add-players-container {
  width: 100%;
}

.slider-container {
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 10px;
  background: lavenderblush;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.15s ease-in-out;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(168, 8, 8);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(168, 8, 8);
  cursor: pointer;
}

.waviy {
  display: inline-block;
  animation: flip 4s infinite;
  animation-delay: calc(0.3s * var(--i));
}

@keyframes flip {
  0%, 80% {
    transform: rotateY(360deg);
  }
}
@media (max-height: 660px) {
  .title {
    justify-content: flex-start;
  }
  .headline {
    font-size: 40px;
  }
  .text {
    font-size: 25px;
  }
}
@media (min-width: 576px) and (min-height: 680px) {
  .players-list .player-input {
    margin: 5px 10px;
  }
  .players-list .player-input input {
    width: 250px;
  }
  .text {
    font-size: 40px;
  }
  .btn-question,
  .btn-dare,
  .btn-time-dare,
  .btn-fail,
  .btn-success {
    width: 250px;
    height: 90px;
    font-size: 40px;
    margin: 10px;
  }
  .btn-chance,
  .btn-next {
    width: 400px;
    height: 90px;
    font-size: 40px;
  }
  .skip-container .skip-row {
    margin: 20px;
  }
  .skip-container .skip-row .text {
    font-size: 40px;
  }
  .skip-container .skip-row .text .fa-star {
    font-size: 25px;
  }
  .skip-container .skip-row .btn-skip,
  .skip-container .skip-row .btn-reroll {
    width: 80px;
    height: 60px;
  }
  .skip-container .skip-row .btn-skip .fa-forward,
  .skip-container .skip-row .btn-skip .fa-rotate-right,
  .skip-container .skip-row .btn-reroll .fa-forward,
  .skip-container .skip-row .btn-reroll .fa-rotate-right {
    font-size: 30px;
  }
  .skip-container .skip-row .btn-reroll {
    padding-top: 10px;
  }
  button#alt-btns,
  button#reset {
    width: 80px;
    height: 70px;
  }
  .row a span.emoji {
    font-size: 30px;
  }
}/*# sourceMappingURL=style.css.map */