$text-color: lavenderblush;

$truth-color: rgba(24, 81, 134, 0.8);
$dare-color: rgba(168, 8, 8, 0.8);
$time-color: rgba(134, 90, 24, 0.8);
$chance-color: rgba(13, 100, 49, 0.55);

$score-color: goldenrod;
$dare-color-stronger: rgba(168, 8, 8);